NEXT_PUBLIC_API_URL=http://localhost:3333
API_PORT=3333
WEB_APP_URL=http://localhost:3000
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_COURSE_MATERIALS_BUCKET=traderlab-course-materials
DATABASE_URL=
DIRECT_URL=
