API_PORT=3333
WEB_APP_URL=http://localhost:3000
ADMIN_APP_URL=http://admin.localhost:3001
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_COURSE_MATERIALS_BUCKET=traderlab-course-materials
SUPABASE_COURSE_IMAGES_BUCKET=traderlab-course-images
DATABASE_URL=
DIRECT_URL=
